vrrp_script chk_haproxy {
    script "/usr/bin/curl -s http://127.0.0.1:7000/ > /dev/null"
    interval 2
    weight 2
}

vrrp_instance VI_1 {
    interface eth0
    state {% if inventory_hostname == groups['loadbalancer'][0] %}MASTER{% else %}BACKUP{% endif %}
    virtual_router_id 51
    priority {% if inventory_hostname == groups['loadbalancer'][0] %}101{% else %}100{% endif %}
    advert_int 1
    
    authentication {
        auth_type PASS
        auth_pass 1111
    }
    
    virtual_ipaddress {
        {{ vip_address }}
    }
    
    track_script {
        chk_haproxy
    }
}