services:
  rustfs:
    image: rustfs/rustfs:latest
    container_name: rustfs-server
    security_opt:
      - "no-new-privileges:true"
    ports:
      - "9000:9000" # S3 API
      - "9001:9001" # Console
    environment:
      - RUSTFS_VOLUMES=/data/rustfs{0...3}
      - RUSTFS_ADDRESS=0.0.0.0:9000
      - RUSTFS_CONSOLE_ADDRESS=0.0.0.0:9001
      - RUSTFS_CONSOLE_ENABLE=true
      - RUSTFS_ACCESS_KEY={{ s3_root_user }}
      - RUSTFS_SECRET_KEY={{ s3_root_password }}
      - RUSTFS_OBJECT_CACHE_ENABLE=true
    volumes:
      - rustfs_data_0:/data/rustfs0
      - rustfs_data_1:/data/rustfs1
      - rustfs_data_2:/data/rustfs2
      - rustfs_data_3:/data/rustfs3
    restart: unless-stopped

  # SIDECAR: Strict Idempotent Bucket Provisioner
  bucket-provisioner:
    image: minio/mc
    container_name: rustfs-provisioner
    depends_on:
      - rustfs
    entrypoint: >
      /bin/sh -c "
      sleep 10;
      mc alias set myrustfs http://rustfs-server:9000 {{ s3_root_user }} {{ s3_root_password }};
      mc mb myrustfs/{{ s3_bucket_name }} --ignore-existing;
      exit 0;
      "

  volume-permission-helper:
    image: alpine
    volumes:
      - rustfs_data_0:/data0
      - rustfs_data_1:/data1
      - rustfs_data_2:/data2
      - rustfs_data_3:/data3
    command: >
      sh -c "chown -R 10001:10001 /data0 /data1 /data2 /data3 && exit 0"
    restart: "no"

volumes:
  rustfs_data_0:
  rustfs_data_1:
  rustfs_data_2:
  rustfs_data_3: