# JINJA MAGIC: Merakit string IP etcd dengan aman
{% set etcd_ips = [] %}
{% for host in groups['database'] + groups['witness'] %}
{%   set _ = etcd_ips.append(hostvars[host]['ansible_host'] ~ ':31079') %}
{% endfor %}

services:
  patroni:
    image: ghcr.io/zalando/spilo-15:3.2-p1
    container_name: patroni
    network_mode: "host"
    environment:
      TZ: Asia/Jakarta
      ETCD3_HOSTS: "{{ etcd_ips | join(',') }}"
      SCOPE: "{{ patroni_cluster_name }}"
      NAME: "{{ inventory_hostname }}"
      PGPASSWORD_SUPERUSER: "{{ postgres_password }}"
      PGPASSWORD_ADMIN: "{{ pgpassword_admin }}"
      PGPASSWORD_STANDBY: "{{ pgpassword_standby }}"
      
      PGPORT: 32432
      APIPORT: 30008
      
      PATRONI_POSTGRESQL_LISTEN: "0.0.0.0:32432"
      PATRONI_POSTGRESQL_CONNECT_ADDRESS: "{{ ansible_host }}:32432"
      PATRONI_RESTAPI_LISTEN: "0.0.0.0:30008"
      PATRONI_RESTAPI_CONNECT_ADDRESS: "{{ ansible_host }}:30008"

      BACKUP_SCHEDULE: "00 01 * * *"
      WALG_DELTA_MAX_STEPS: "6"
      USE_WALG_BACKUP: "true"
      USE_WALG_RESTORE: "true"
      
      # ... (Sisa konfigurasi di bawahnya tetap sama persis seperti sebelumnya) ...