[defaults]
remote_user = ubuntu
private_key_file = /tmp/ssh_key
host_key_checking = False
inventory = inventory.yaml 

[ssh_connection]
ssh_args = -o ProxyCommand="ssh -W %h:%p -q -i /tmp/ssh_key root@__PROXMOX_TAILSCALE_HOSTNAME__" -o StrictHostKeyChecking=no